@keyframes show_toaster {
    0% {
        transform: translateX(30rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

.animate-show_toaster {
    animation: show_toaster 1s;
}

@keyframes hide_toaster {
    0% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(30rem);
    }
}

.animate-hide_toaster {
    animation: hide_toaster 1s;
}
