@keyframes show_toaster {
    0% {
        transform: translateX(30rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

.animate-show_toaster {
    animation: show_toaster 1s;
}

@keyframes hide_toaster {
    0% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(30rem);
    }
}

.animate-hide_toaster {
    animation: hide_toaster 1s;
}

@keyframes plus_number_up {
    0% {
        transform: translateY(0rem);
        opacity: 0;
    }
    70% {
        transform: translateY(-1rem);
        opacity: 1;
    }
    100% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}

.animate-plus_number_up {
    animation: plus_number_up 2s;
}

@keyframes panel_show {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spin_loader {
    0% {
        transform: rotate(360deg);
    }
}
