// spacing
$spacing-sm: 0.3rem;
$spacing-md: 0.7rem;
$spacing-lg: 1rem;
$spacing-xl: 1.5rem;

// bg
$bg-primary: orange;
$bg-secondary: rgb(43, 43, 255);

// font
$font-size-xs: 0.6rem;
$font-size-sm: 0.8rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2.5rem;
